/* .App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  overflow: none; 
}

body {
  overflow: hidden; 
}
 */
