.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    overflow: none; 
  }
  
  body {
    overflow: hidden; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  h5 {
    margin: 0!important;
  }