body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh; 
  display: flex;
  flex-direction: column; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
