.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #f7f7f7; */
    overflow: none; 
  }
  main {
    min-height: calc(100vh - 128px);
    margin-top: 64px;
  }

  .MuiDialogTitle-root {
    padding-left: 0!important; 
    padding-right: 0!important; 
  }
  
  body {
    margin: 0 auto; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: #F7F7F7; */
    background-color: rgb(255, 255, 255)!important;
    color: #57585D;
  }
  .MuiTypography-h6, .MuiTableCell-body, h1, h2,h3,h4,h5,h6{
    color: #57585D;
  }
  
  h5 {
    margin: 0!important;
  }

  .header {
    margin-top: 40px!important; 
    margin: 0 auto; 
    max-width: 800px; 
    padding: 20px;
    /* height: 200px; */
    width: "100%";
    /* position:relative; */
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.commentCard {
  margin-top: 10px!important; 
  margin-bottom: 20px!important; 
  margin: 0 auto; 
  max-width: 800px; 
  padding: 10px;
  /* height: 200px; */
  width: "100%";
  /* position:relative; */
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.MuiGrid-spacing-xs-2 {
margin: 0px!important; 
}

.closeIcon {
  color: silver; 
}
.closeIcon:hover {
  color: #FC4A1A; 
}

.WithStyles\(ForwardRef\(LinearProgress\)\)-root-309 {
  /* max-width: 100px;  */
  width: 90%; 

}

.MuiStepIcon-root.MuiStepIcon-active, 
.MuiStepIcon-root.MuiStepIcon-completed 
  {
    color: #FC4A1A!important;
  }


/* ----------  Button Classes ---------- */
.teal, .teal-signup {
  margin: 10px!important; 
  border-radius: 3px;
  color: white!important;
}
.teal2 {
  margin: 0px!important; 
  padding: 5px;
  border-radius: 3px;
  color: white!important;
}

.login {
  width: 249px!important; 
}

.teal{
 background-color: #13BAC7; background-image: -webkit-gradient(linear, left top, left bottom, from(#13BAC7), to(#15D2E0));
 background-image: -webkit-linear-gradient(top, #13BAC7, #15D2E0);
 background-image: -moz-linear-gradient(top, #13BAC7, #15D2E0);
 background-image: -ms-linear-gradient(top, #13BAC7, #15D2E0);
 background-image: -o-linear-gradient(top, #13BAC7, #15D2E0);
 background-image: linear-gradient(to bottom, #13BAC7, #15D2E0);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#13BAC7, endColorstr=#15D2E0);
}

.teal-signup {
  background-color: #0f8e98; background-image: -webkit-gradient(linear, left top, left bottom, from(#0f8e98), to(#11a6b1));
  background-image: -webkit-linear-gradient(top, #0f8e98, #11a6b1);
  background-image: -moz-linear-gradient(top, #0f8e98, #11a6b1);
  background-image: -ms-linear-gradient(top, #0f8e98, #11a6b1);
  background-image: -o-linear-gradient(top, #0f8e98, #11a6b1);
  background-image: linear-gradient(to bottom, #0f8e98, #11a6b1);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0f8e98, endColorstr=#11a6b1);
}

.back {
  color: #A9A9A9!important;
}

.teal:hover, .teal-signup:hover, .back:hover, .teal2:hover {
  color: #0f8e98!important;
  background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
  background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
}

.teal2 {
  color: #0f8e98!important;
  font-weight: bold;
  background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
  background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
  -moz-box-shadow: 0 0 2px #888;
  -webkit-box-shadow: 0 0 2px#888;
  box-shadow: 0 0 2px #888; 
}

.teal2:hover {
  color: #f7f7f7!important;
  background-color: #13BAC7; background-image: -webkit-gradient(linear, left top, left bottom, from(#13BAC7), to(#15D2E0));
  background-image: -webkit-linear-gradient(top, #13BAC7, #15D2E0);
  background-image: -moz-linear-gradient(top, #13BAC7, #15D2E0);
  background-image: -ms-linear-gradient(top, #13BAC7, #15D2E0);
  background-image: -o-linear-gradient(top, #13BAC7, #15D2E0);
  background-image: linear-gradient(to bottom, #13BAC7, #15D2E0);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#13BAC7, endColorstr=#15D2E0);
 
}

/* ---------- End of Button Classes ---------- */

/* ---------- Splash Page classes  ---------- */
.splash{
  font-family: source-sans-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center; 
  padding: 20px 0px;
}

 .modal-footer {
    margin-top: 40px;
    border-top: 1px solid rgb(202, 202, 202); 
    padding-top: 20px;
 }
 .border-color {
   border-color: #13BAC7!important;
 }

 #customized-color-4 {
   background-image: url("../images/danger_rating_icons/danger_rating_4.png");
   background-size: cover; 

 }

 .MuiDialogContent-dividers {
   border: none!important; 
 }

 #scroll-dialog-title {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: center;
  border-bottom: 1px solid rgb(202, 202, 202); 
  margin: 25px;
  padding-bottom: 20px;
 }

.MuiAvatar-colorDefault {
  margin: 0 auto; 
  background-color: #FC4A1A!important; 
  margin-bottom: 10px; 
}

.MuiStepper-root {
  padding-top: 0!important; 
  /* padding-bottom: 40px; */
}

.MuiDialog-paperWidthSm {
  width: 600px; 
}

.MuiStepLabel-label.MuiStepLabel-active {
  color: #FC4A1A!important;
}

.MuiFormControl-marginNormal {
  width: 100%;
}

.MuiInputBase-root {
  color: #57585D!important; 
}

.MuiFormLabel-root.Mui-focused {
  font-weight: bold;
}

/* Button Effect */
@import url("https://fonts.googleapis.com/css?family=Mukta:700");

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-family: inherit;
}
button.learn-more {
  width: 9rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 2rem;
  height: 2rem;
  background: #FC4A1A;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: .1rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: -.2rem;
  left: 0.5rem;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #FC4A1A;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

/* END of button effect */

.headerBanner, #spalshPageHeader {
 /* border:1px solid #db3103;  */
 z-index: -1; 
 text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
 font-weight:bold; color: #FFFFFF;
 background-color: #FC4A1A; 
 background-image: -webkit-gradient(linear, left top, left bottom, from(#FC4A1A), to(#d20202));
 background-image: -webkit-linear-gradient(top, #FC4A1A, #d20202);
 background-image: -moz-linear-gradient(top, #FC4A1A, #d20202);
 background-image: -ms-linear-gradient(top, #FC4A1A, #d20202);
 background-image: -o-linear-gradient(top, #FC4A1A, #d20202);
 background-image: linear-gradient(to bottom, #FC4A1A, #d20202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FC4A1A, endColorstr=#d20202);
}

/* Alert Clicked styling */

.MuiCheckbox-colorSecondary.Mui-checked {
  color: #FC4A1A!important;
}

.Mui-Focussed {
  color: #13BAC7;
}

.MuiBadge-colorSecondary {
  background-color: #FC4A1A!important;
}

.searchBarBackground {
  flex-grow: 1;
  padding-top: 30px;
  /* position: relative;  */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family:arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px; 
  text-decoration:none; 
  display:inline-block;
  text-shadow: -1px -1px 0 rgba(240, 240, 240, 0.3);
  font-weight:bold; 
  /* color: #57585D; */
  /* color: #f7f7f7; */
  background-color: #13BAC7; background-image: -webkit-gradient(linear, left top, left bottom, from(#13BAC7), to(#15D2E0));
  background-image: -webkit-linear-gradient(top, #13BAC7, #15D2E0);
  background-image: -moz-linear-gradient(top, #13BAC7, #15D2E0);
  background-image: -ms-linear-gradient(top, #13BAC7, #15D2E0);
  background-image: -o-linear-gradient(top, #13BAC7, #15D2E0);
  background-image: linear-gradient(to bottom, #13BAC7, #15D2E0);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#13BAC7, endColorstr=#15D2E0);

   box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  width: 100%;
  height: 120px; 
  z-index: 1000;
}

.searchBarBackground2 {
  flex-grow: 1;
  padding-top: 30px;
  /* position: relative;  */
border:1px solid #f3d86d; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #F7E6A1; background-image: -webkit-gradient(linear, left top, left bottom, from(#F7E6A1), to(#F7C533));
 background-image: -webkit-linear-gradient(top, #F7E6A1, #F7C533);
 background-image: -moz-linear-gradient(top, #F7E6A1, #F7C533);
 background-image: -ms-linear-gradient(top, #F7E6A1, #F7C533);
 background-image: -o-linear-gradient(top, #F7E6A1, #F7C533);
 background-image: linear-gradient(to bottom, #F7E6A1, #F7C533);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F7E6A1, endColorstr=#F7C533);
   box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  width: 100%;
  height: 120px; 
  z-index: 1000;
}

.appIcon {
  -moz-box-shadow: -1px 1px 5px -1px #888;
  -webkit-box-shadow: -1px 1px 5px -1px#888;
  box-shadow: -1px 1px 5px -1px #888;
}

.searchInput {
  display: flex;
  height: auto;
  background-color:rgb(255, 255, 255);
  border-radius: 14px;
  padding: 10px 20px!important; 
  width: 100%;
}

.MuiInput-formControl > label {
  margin-left: 20px; 
  margin: 0;
}
label + .MuiInput-formControl {
  background-color: transparent!important; 
}

/* label + .MuiInputLabel-formControl {
  margin-left: 20px;
} */

.readMore {
  text-decoration: none;
  color: #13BAC7;
  font-weight: 800; 
}
.readMore:hover {
  text-decoration: underline;
}

/* toasties */
.toastieContainer{
    text-align: left;
    display: flex;
    align-items: center;
    border-radius: 4px!important;
    margin: 0 auto;
    padding: 5px;
    font-family: sans-serif;
    font-style: normal;
    color: #0f8e98!important;
    font-weight: bold;
    background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
    background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
    -moz-box-shadow: 0 0 2px #888;
    -webkit-box-shadow: 0 0 2px#888;
    box-shadow: 0 0 2px #888;  box-shadow: 0px 2px 1px -1px rgba(247, 246, 246, 0.714), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    position: relative;
    border-radius: var(--borderWidth);
    --borderWidth: 2px;
  }

  .toastieContainer:after {
    border-radius: 4px!important;
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f7f7f7,#F7C533, #FC4A1A);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
    -moz-box-shadow: 0 0 2px #888;
    -webkit-box-shadow: 0 0 2px#888;
    box-shadow: 0 0 2px #888;  box-shadow: 0px 2px 1px -1px rgba(247, 246, 246, 0.714), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  }

  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.Toastify__close-button--default  {
  display: none; 
}
.Toastify__toast--default {
  color: transparent!important;
  background: transparent!important;
}
.Toastify__toast-container {
  max-width: 600px!important; 
  width: 100%!important;
}
.Toastify__toast {
  box-shadow: none!important; 
}

.toastieImage {
  height: 60px; 
  width: 60px;
 border-radius: 8px;
}

.bannerText {
  color: rgb(255, 255, 255); 
  padding: 4px;
}

.ratingHeaderText {
  width: 90%;
  margin: 0 auto;
  border-radius: 14px;

}