.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #f7f7f7; */
    overflow: none; 
  }
  main {
    min-height: calc(100vh - 128px);
  }

  body {
    margin: 0 auto; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: #F7F7F7; */
    background-color: rgb(255, 255, 255)!important;

  }
  
  h5 {
    margin: 0!important;
  }

  .header {
    margin-top: 40px!important; 
    margin: 0 auto; 
    max-width: 800px; 
    padding: 20px;
    /* height: 200px; */
    width: "100%";
    /* position:relative; */
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.commentCard {
  margin-top: 10px!important; 
  margin-bottom: 20px!important; 
  margin: 0 auto; 
  max-width: 800px; 
  padding: 10px;
  /* height: 200px; */
  width: "100%";
  /* position:relative; */
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.MuiGrid-spacing-xs-2 {
margin: 0px!important; 
}

.closeIcon {
  color: silver; 
}
.closeIcon:hover {
  color: #FC4A1A; 
}

.WithStyles\(ForwardRef\(LinearProgress\)\)-root-309 {
  /* max-width: 100px;  */
  width: 90%; 

}

.MuiStepIcon-root.MuiStepIcon-active, 
.MuiStepIcon-root.MuiStepIcon-completed 
  {
    color: #13BAC7!important;
  }

.teal
  {
    background-color: #13BAC7!important;
    border: "0";
    margin: 5px!important; 
    width:  100px!important; 
    border-radius: 3;
    color: 'white';
    height: "48";
    padding: '0 30px';
    }

  .splash{
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    
  }

 .modal-footer {
    margin-top: 80px;
    border-top: 1px solid silver; 
    padding-top: 20px;
 }

 #customized-color-4 {
   background-image: url("../images/danger_rating_icons/danger_rating_4.png");
   background-size: cover; 

 }