
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.dropbox
config/config.js

client/src/Store/SCOTT--store.js
client/src/pages/SCOTT--Homepage.js
client/src/components/SearchAppAnnie/SCOTT--index.js
client/src/components/TopTrendingApps/SCOTT--index.js
client/src/Store/Reducers/test-reducer.js
client/src/Store/OLD-index.js
client/src/pages/SCOTT-AppPage.js
client/src/pages/OLD--SCOTT-Homepage.js
client/src/pages/SCOTT-Homepage.js
