.formStyle {
    margin: 0 auto;
    max-width: 800px;
    margin-top: 200px;  
    text-align: center;
    background-color: #f7f7f7;
}

.MuiInputBase-input {
    width: 100%!important;
}
.makeStyles-input-269 {
    width: 100%!important; 
    color: #f7f7f7;
}

label + .MuiInput-formControl {
    background-color: #f7f7f7;
}

.MuiInput-underline:before, .MuiInput-underline:after {
    margin: 6px 20px!important;
}

.root {
    flex-grow: 1;
    padding-top: 30px;
    position: relative; 
    background-color: #F7C533;
    width: 100%;
    height: 250px; 
    z-index: 1000;
  }

  .searchInput {
    display: flex;
    height: auto;
    background-color: #F7f7f7;
    border-radius: 14px;
    padding: 10px 20px!important; 
    width: 100%;
 }

 .downshift-dropdown {
    z-index: 3;
    position: relative;
    margin-top: 10px;
    border-radius: 14px;
    text-indent: 1.5em;
    width: 100%; 
    height: 250px!important;
    overflow: scroll; 
 }

 /* placeholder: {
    //     position: 'absolute',
    //     left: 2,
    //     bottom: 6,
    //     fontSize: 16,
    //     padding: "10px 20px!important" 
    //   }, */