
  section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }

.load-wrapp {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.load-wrapp:last-child {margin-right: 0;}


.letter-holder {padding: 16px;}

.letter {
  font-family: source-sans-pro, sans-serif;
  display: inline-block;
  font-size: 4rem;
  color: #FC4A1A;
}

.load-6 .letter {
  animation-name: loadingF;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}

.l-1 {animation-delay: .48s;}
.l-2 {animation-delay: .6s;}
.l-3 {animation-delay: .72s;}
.l-4 {animation-delay: .84s;}
.l-5 {animation-delay: .96s;}
.l-6 {animation-delay: 1.08s;}
.l-7 {animation-delay: 1.2s;}
.l-8 {animation-delay: 1.32s;}
.l-9 {animation-delay: 1.44s;}
.l-10 {animation-delay: 1.56s;}


@keyframes loadingA {
  0 {height: 15px;}
  50% {height: 35px;}
  100% {height: 15px;}
}

@keyframes loadingB {
  0 {width: 15px;}
  50% {width: 35px;}
  100% {width: 15px;}
}

@keyframes loadingC {
  0 {transform: translate(0,0);}
  50% {transform: translate(0,15px);}
  100% {transform: translate(0,0);}
}

@keyframes loadingD {
  0 {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}

@keyframes loadingE {
  0 {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes loadingF {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes loadingG {
  0% {transform: translate(0,0) rotate(0deg);}
  50% {transform: translate(70px,0) rotate(360deg);}
  100% {transform: translate(0,0) rotate(0deg);}
}

@keyframes loadingH {
  0% {width: 15px;}
  50% {width: 35px; padding: 4px;}
  100% {width: 15px;}
}

@keyframes loadingI {
  100% {transform: rotate(360deg);}
}

@keyframes bounce  {
0%, 100% {transform: scale(0.0);}
50% {transform: scale(1.0);}
}

@keyframes loadingJ {
0%,100% {transform: translate(0,0);}

50% {
    transform: translate(80px,0);
    background-color: #f5634a;
    width: 25px;
}
}