.leftImage {
    background-image: url('gru_t.png'); 
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: left; 
    /* width: 360px!important; */
   height: 100%;
   margin: 13px;
}

.rightSide {
    background-color: #f7f7f7!important; 
    height: 300px;
    width: 100%;
}